
.left-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.left-up {
    flex-shrink: 1;
}

.left-down {
    flex-shrink: 0;
}

article {
    padding: 2em;

    font-family: "黑体";
    text-rendering: optimizeLegibility;
    font-size: 1em;
    line-height: 1.2;
}

.line-wrapper {
    margin-bottom: 0.3em;
    padding: 0.5em;

    border: 1px solid rgba(0,0,0,.2);

    border-left: 5px solid #dd3300;
    border-right: 5px solid #dd3300;
}

.line-wrapper.lock {
    border-left: 5px solid #0095dd;
    border-right: 5px solid #0095dd;
}

.line-wrapper.translated {
    border-left: 5px solid #00dd6d;
    border-right: 5px solid #00dd6d;
}

.line-wrapper.selected {
    border-left: 5px solid #545454;
    border-right: 5px solid #545454;
}

.line-wrapper.committing {
    border-left: 5px solid #00dd6d;
    border-right: 5px solid #00dd6d;
    animation: 3s cubic-bezier(0.39, 0.58, 0.57, 1) 0s infinite alternate border_color;
}

@keyframes border_color {
    0% {
        border-left: 5px solid #545454;
        border-right: 5px solid #545454;
    }
    50% {
        border-left: 5px solid #dd3300;
        border-right: 5px solid #dd3300;
    }
    100% {
        border-left: 5px solid #00dd6d;
        border-right: 5px solid #00dd6d;
    }
}

.line {
    /*outline: 1px solid black;*/
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.line .text {
    flex-grow: 999;
    flex-shrink: 1;

    color: rgb(6, 70, 152);
}

.line .speeker {
    /*outline: 1px solid black;*/
    flex-basis: 4em;
    flex-shrink: 0;
}

.line.translated {
    display: none;
    margin-top: 0.3em;
}

.lock .line.translated {
    display: flex;
}

.translated .line.translated {
    display: flex;
}

.selected .line.translated {
    display: flex;
}

.committing .line.translated {
    display: flex;
}


.input {

}

.input textarea {
    width: 100%;
    height: 60px;

    font-family: "黑体";
    font-size: 1em;

    padding: 3px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.input .pannel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.input .pannel button {
    color: white;
    background-color: rgb(96, 176, 68);
    font-size: 0.7em;
    padding: 4px 16px;
    margin-left: 10px;
}

.fanyi {
    font-size: 0.9em;
    color: deeppink;
}

.fanyi > div {
    padding: 2px;
    border: 2px solid white;
    /*cursor: pointer;*/
    user-select: none;
}

.fanyi > div:hover {
    background-color: rgba(128, 173, 255, 0.85);
    border: 2px solid;
    border-color: dodgerblue;
}

.fanyi .source {
    width: 4em;
    text-align: right;
    display: inline-block;
    padding-right: 0.6em;
}

/*.fanyi .source:after {
    content: ':';
}*/
