
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);*/

html, body {
	font-family: "Open Sans", "微软雅黑";
}

.w3-tiny{
	font-size: 14px!important;
}

.tip-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	position:absolute;
	left:50%;
	transform:translate(-50%,0%);
}

.w3-dropdown-content hr {
		margin: 2px 0;
}

.w3-table td, .w3-table th {
		padding: 6px 8px;
}

.w3-table th:first-child + th,
.w3-table td:first-child + td {
	width: 15em;
}

.w3-table th:first-child + th+th,
.w3-table td:first-child + td+td,
.w3-table th:first-child + th+th+th,
.w3-table td:first-child + td+td+td,
.w3-table th:first-child + th+th+th+th,
.w3-table td:first-child + td+td+td+td {
	text-align: center;
	width: 6em;
}

@media (max-width:600px) {
	.w3-table th,
	.w3-table td {
		display: none;
	}
	.w3-table th:first-child,
	.w3-table td:first-child,
	.w3-table th:first-child + th,
	.w3-table td:first-child + td {
		display: table-cell;
		width: 100%
	}
}

.w3-text-vertical {
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

p {
	/*margin: 0;*/
}
p::before {
	/*content: "　";*/
}

.w3-main ul.w3-ul li {
	padding: 0;
	border-bottom: 0;
}

.w3-main ul.w3-ul li:nth-child(even) {
	background-color: #fafafa;
}

.w3-main ul.w3-hoverable li:hover {
	background-color: #d9edf4;
}

.translate-view .translate-original {
	padding: 6px 5px 6px 20px;
}

.translate-view .translate-translation {
	padding: 6px 20px 6px 5px;
}

.translate-edit .translate-original,
.translate-edit .translate-translation {
	padding: 0px 20px 0px 0px;
}

.translate-original,
.translate-translation {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}

.translate-speeker {
	flex-basis: 4em;
	flex-shrink: 0;
	display: block;
}

@media only screen and (min-width: 601px) {
	.w3-col.m6, .w3-half {
		 /*width: 99.99999%;*/
	}
}

.translate-edit {
	position: relative;
	/*margin: -5px 0;*/
	padding: 0;
	box-shadow: 0 0 38px rgba(0,0,0,0.3);
	background-color: #f1f7f8;
}

h6 {
	color: #999;
	font-variant-caps: small-caps;
}

label {
	font-weight: bold;
}

textarea.w3-input {
	resize:none;
}

.w3-tag {
	cursor: pointer;
	border: 1px dotted #999;
    color: #666;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

button.w3-tag {
	background-color: transparent;
	border: 1px dotted #999;
	color: #666;
}

button.w3-tag.w3-btn-block {
	background-color: #f1f7e4;
	border: 1px dotted #d9d9d9;
	color: #444;
}

button.w3-tag:hover {
	background-color: white;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);*/
	box-shadow: none;
}

a {
	/*text-decoration: none;*/
}

/*    background-color: #f1f7e4;
    border: 1px dotted #d9d9d9;
    color: #444;*/
